body {
  background-color: grey;
}

svg {
  background-color: white;
}

.shooter {
  fill: green;
}

.target {
  fill: magenta;
}

.container {
  text-align: center;
  font-size: 50px;
}

svg {
  display: block;
  margin: auto;
}